node_modules
npm-debug.log
.env.local
.env
.git
.gitignore
*.md
.vscode
.idea
dist
build
coverage
docs
functions
services/auth/node_modules
services/audit-log/node_modules
services/config/node_modules
services/feature-flags/node_modules
services/gateway/node_modules
services/notification/node_modules
services/worker/node_modules
services/rate-limit/node_modules
packages/amqp/node_modules
packages/logger/node_modules
packages/shared-types/node_modules
